.slideshow {
    width: 350px;
    height: 200px;
    overflow: hidden;
    border: 3px solid #F2F2F2;
 }
 
 .slideshow ul {
     /* 4 images donc 4 x 100% */
    width: 400%;
    height: 200px;
    padding:0; margin:0;
    list-style: none;
 }
 .slideshow li {
    float: left;

 }